.project-tile {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-width: 600px;
    min-width: 260px;
    height: auto;
    padding: 12px 12px;
    background-color: var(--off-white);
    border-radius: 25px;
    gap: 30px;
}

.project-tile-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    width: 64%
}

.project-name {
    font-size: 25px;
    margin: 0px;
    color: "black";
}

.project-description {
    font-size: 18px;
    margin-bottom: 15px;
    color: "black";
    text-decoration: none;
}

.project-tools {
    font-size: 15px;
    margin: 0px;
    font-weight: 600;
    color: "black";
}

@media screen and (max-width: 500px) {
    .project-name {
        font-size: 20px;
    }
    .project-description {
        font-size: 13px;
    }
    .project-tools {
        font-size: 10px;
    }
    
}
