.work-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

}

.work-title {
    font-size: clamp(32px, 8vw, 75px);
    color: var(--off-white);
    text-shadow: 5px 5px 20px rgb(0, 0, 0, 0.3);
    line-height: 0.9;
    margin-bottom: 100px;
}

.work-content-container {
    display: flex;
    align-self: center;
    gap: 30px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;

}